@model HomeIndexViewModel 

@{
    ViewBag.Title = "OdeToFood";
}

<h1>All restaurants</h1>

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

<div>
    <a asp-action="Create">Add new restaurant</a>
</div>

@section footer {
    @Model.MessageOfTheDay
}
